
{% extends 'base.html.twig' %}
{# {% form_theme form 'bootstrap_5_layout.html.twig' %} #}

{% block title %}inscription{% endblock %}

{% block body %}

    <h1>Formulaire</h1>

    {{ form_start(form) }}
        {{ form_label(form.nom) }}
        {{ form_widget(form.nom) }}

        {{ form_label(form.naissance) }}
        {{ form_widget(form.naissance) }}

        {{ form_label(form.genre) }}
        {{ form_widget(form.genre) }}

        {{ form_label(form.nationalite) }}
        {{ form_widget(form.nationalite) }}

        {{ form_rest(form) }}
        <button type="submit">Enregistrer</button>
        <button class="btn btn-primary">OUI</button>
              <a href="{{ include (path '')}} " class="btn btn-success">NON</a>
                
    {{ form_end(form) }}
{% endblock %}

