{% extends 'base.html.twig' %}

{% block title %}Hello ViewController!{% endblock %}

{% block body %}

<!doctype html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <title>Liste de personnes</title>
  </head>
  <body>
    <h1>Personnes</h1>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">NOM</th>
                <th scope="col">NAISSANCE</th>
                <th scope="col">GENRE</th>
                <th scope="col">NATIONALITE</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            {% for personne in personnes %}
                <tr>
                    <th scope="row">{{personne.getId }}</th>
                    <td>{{personne.getNom }}</td>
                    <td>{{personne.getNaissance}}</td>
                    <td>{{personne.getGenre }}</td>
                    <td>{{personne.getNationalite }}</td>
                    <td><input class="btn btn-primary" type="reset" value="Reset" a href="delete-personne/{{ personne.id }}"></td>
                    
                </tr>

                
            {% endfor %}
        </tbody>
    </table>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
  </body>
</html>
{% endblock %}
