<form method="post" action="{{ path('personne_delete', {'id': personne.id}) }}" onsubmit="return confirm('Êtes-vous sûr de bien vouloir supprimer cet élément?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ personne.id) }}">
    <button class="btn btn-danger">Supprimer</button>
</form>
