{% extends 'base.html.twig' %}

{% block title %}Edit Personne{% endblock %}

{% block body %}
    <h1>Edit Personne</h1>

    {{ include('personne/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

    <a href="{{ path('personne_index') }}" class="btn btn-info">Retour à la liste</a>

    {{ include('personne/_delete_form.html.twig') }}
{% endblock %}
