{% extends 'base.html.twig' %}

{% block title %}Personne index{% endblock %}

{% block body %}
    <h1>Liste Personnes</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Genre</th>
                <th>Nom</th>
                <th>Naissance</th>
                <th>Nationalite</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for personne in personnes %}
            <tr>
                <td>{{ personne.id }}</td>
                <td>{{ personne.genre }}</td>
                <td>{{ personne.nom }}</td>
                <td>{{ personne.naissance }}</td>
                <td>{{ personne.nationalite }}</td>
                <td>
                    <a href="{{ path('personne_show', {'id': personne.id}) }}" class="btn btn-info">Afficher</a>
                    <a href="{{ path('personne_edit', {'id': personne.id}) }}" class="btn btn-info">Editer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('personne_new') }}" class="btn btn-info">Créer nouveau</a>
{% endblock %}
