{% extends 'base.html.twig' %}

{% block title %}New Personne{% endblock %}

{% block body %}
    <h1>Enregistrer nouvelle personne</h1>

    {{ include('personne/_form.html.twig') }}

    <a href="{{ path('personne_index') }}" class="btn btn-info">Retour à la liste</a>
{% endblock %}
