{% extends 'base.html.twig' %}

{% block title %}Personne{% endblock %}

{% block body %}
    <h1>Fiche Personne</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ personne.id }}</td>
            </tr>
            <tr>
                <th>Genre</th>
                <td>{{ personne.genre }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ personne.nom }}</td>
            </tr>
            <tr>
                <th>Naissance</th>
                <td>{{ personne.naissance }}</td>
            </tr>
            <tr>
                <th>Nationalite</th>
                <td>{{ personne.nationalite }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('personne_index') }}" class="btn btn-info">Retour à la liste</a>

    <a href="{{ path('personne_edit', {'id': personne.id}) }}" class="btn btn-info">Editer</a>

    {{ include('personne/_delete_form.html.twig') }}
{% endblock %}
