body {
    background-color: rgb(156, 170, 200);
}


th {
    height: 10vh;
    width: 15vw;
    border: solid black 1px;
    text-align: center;
}

td {
    text-align: center;
    border: solid black 1px;
}
 table{
     margin-top: 10vh;
 }

 h1{
     text-align: center;
     margin-top: 5vh;
     color: #620080;
 }